@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <section id="portfolio">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2>The TVbase</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i class="fa fa-search-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="/Content/Images/Breaking-Bad.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i class="fa fa-search-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="/Content/Images/51O5Rvi8XZL._SX940_.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i class="fa fa-search-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="/Content/Images/game-thrones.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i class="fa fa-search-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="/Content/Images/TV_networks_main_image.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i class="fa fa-search-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="/Content/Images/tv-shows-2014-620x400.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i class="fa fa-search-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="/Content/Images/tvprogram.jpg" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
   <!--view networks and shows tables-->
</div>