@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <section id="portfolio">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2>TV Shows</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="/Content/Images/Breaking-Bad.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                        <img src="/Content/Images/51O5Rvi8XZL._SX940_.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                                        <img src="/Content/Images/game-thrones.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="http://images.christianpost.com/full/74899/sherlock.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                                        <img src="http://cdn-static.denofgeek.com/sites/denofgeek/files/styles/article_main_wide_image/public/2016/01/doctorwho_s05_e00_21_tardis_x-large-590x330.jpg?itok=FegE9K21" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                                        <img src="https://uk.newonnetflix.info/artwork/70155610_w.jpg?1458348708" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <section id="portfolio">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2>TV Networks</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="http://assets.huluim.com/h2o/facebook_share_thumb_default_hulu.png" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                        <img src="http://tvseriesfinale.com/assets/abc02aa.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                                        <img src="http://www.digitallanding.com/wp-content/uploads/2013/05/Best-HBO-Series.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="http://www.wnd.com/files/2014/02/fox-logo.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                                        <img src="http://images.amcnetworks.com/blogs.amctv.com/wp-content/uploads/2013/04/amc-logo-rebrand-blk-3251.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                                        <img src="http://cimg.tvgcdn.net/i/r/2014/07/18/2433ebb3-5dc6-49fc-a181-912ff7d1f739/thumbnail/640x440/08723a0fa61f7bab4bb2a5b92a9b45b6/cw-logo1.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
   <!--view networks and shows tables-->
</div>