@{
    ViewBag.Title = "Home Page";
}

<header>

    <div id="myCarousel" class="carousel slide">

        <div class="carousel-inner">

            <div class="item active">
                <div class="row">
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://images.moviepostershop.com/titanic-movie-poster-1997-1020339699.jpg" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://castletv.net/wp-content/uploads/2015/08/Castle-Season-8-Poster.jpg" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://www.freedesign4.me/wp-content/gallery/posters/free-movie-film-poster-the_dark_knight_movie_poster.jpg" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://www.hollywoodreporter.com/sites/default/files/custom/Blog_Images/avengers-movie-poster-1.jpg" /></a></div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="https://qph.is.quoracdn.net/main-qimg-6f7ae61a0ce353f7e9447c14cf487b05?convert_to_webp=true" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://www.vintagestock.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/1/5/159933.jpg" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="https://www.movieposter.com/posters/archive/main/226/MPW-113357" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://horrornews.net/wp-content/uploads/2013/03/arrow_version8-movie-poster-1.jpg" /></a></div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://i0.wp.com/tvafterdark.com/wp-content/uploads/2014/08/NEW-GIRL-POSTER-S4-2.jpg" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://sdccblog.com/wp-content/uploads/2013/07/970240_10151562823487993_1508578451_n.jpg" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://horrornews.net/wp-content/uploads/2012/09/The-Walking-Dead-tv-POSTER-7-TV-series-poster.jpg" /></a></div>
                    <div class="col-xs-3"><a href="#x" class="thumbnail"><img src="http://cdn.collider.com/wp-content/uploads/Silicon-Valley-poster-HBO.jpg" /></a></div>
                </div>
            </div>

        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <section id="portfolio">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2>TV Shows</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="/Content/Images/Breaking-Bad.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                        <img src="http://cdn-static.denofgeek.com/sites/denofgeek/files/styles/article_main_wide_image/public/2016/01/doctorwho_s05_e00_21_tardis_x-large-590x330.jpg?itok=FegE9K2" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                                        <img src="/Content/Images/game-thrones.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="http://images.christianpost.com/full/74899/sherlock.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                                        <img src="/Content/Images/51O5Rvi8XZL._SX940_.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                                        <img src="https://uk.newonnetflix.info/artwork/70155610_w.jpg?1458348708" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <section id="portfolio">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2>TV Networks</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="http://assets.huluim.com/h2o/facebook_share_thumb_default_hulu.png" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                        <img src="http://tvseriesfinale.com/assets/abc02aa.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                                        <img src="http://www.digitallanding.com/wp-content/uploads/2013/05/Best-HBO-Series.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#" class="portfolio-link" data-toggle="modal">
                                        <img src="http://www.wnd.com/files/2014/02/fox-logo.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                                        <img src="http://images.amcnetworks.com/blogs.amctv.com/wp-content/uploads/2013/04/amc-logo-rebrand-blk-3251.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-4 portfolio-item">
                                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                                        <img src="http://cimg.tvgcdn.net/i/r/2014/07/18/2433ebb3-5dc6-49fc-a181-912ff7d1f739/thumbnail/640x440/08723a0fa61f7bab4bb2a5b92a9b45b6/cw-logo1.jpg" class="img-thumbnail large-thumbnail" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
   <!--view networks and shows tables-->
</div>